

.larger-screen-header {
  font-size:8vw;
  color: #fff;
  text-align: center;
}

.smaller-screen-header {
  font-size:9vw;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}


.login-card {
  width: 400px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: flex;
  align-items: right;
  justify-content: center;
}
.login-button{
  text-decoration: underline;
  font-size: x-small;
}
.login-container {
  background-image: url("https://images.unsplash.com/photo-1481798699994-481e7c0a8282?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c02fb2ca219a8fffb55f292aa483861&auto=format&fit=crop&w=1350&q=80"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    overflow: hidden;
    margin: 0;
}

