<div class="container-fluid sign-in-background" [style.height.px]="screenHeight">
    <div>
      <h1 [ngClass]="{'smaller-screen-header': screenWidth <= 590, 'larger-screen-header': screenWidth > 590}">Become A Member</h1>
    </div>
    <div class="sign-up-accordion">
        <form [formGroup]="addUserForm">
            <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  First &#38; Last Name
               </mat-panel-title>
               <mat-panel-description>
                  Enter your first &#38; last name
                  <mat-icon>account_circle</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="First name" formControlName="firstName" required>
               <mat-error *ngIf="(addUserForm.get('firstName').hasError('required') || addUserForm.get('firstName').hasError('whitespace')) && (addUserForm.get('firstName').touched)">
                You must enter a valid <strong>first name</strong>.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Last Name" formControlName="lastName" required>
               <mat-error *ngIf="(addUserForm.get('lastName').hasError('required') || addUserForm.get('lastName').hasError('whitespace')) && (addUserForm.get('lastName').touched)">
                You must enter a valid <strong>last name</strong>.
              </mat-error>
            </mat-form-field>
            <mat-action-row>
               <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Username &#38; Email
               </mat-panel-title>
               <mat-panel-description>
                  Enter your username &#38; email
                  <mat-icon>email</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Username" formControlName="username" required>
               <mat-error *ngIf="(addUserForm.get('username').hasError('required') || addUserForm.get('username').hasError('whitespace')) && (addUserForm.get('username').touched)">
                You must enter a valid <strong>username</strong>.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Email" formControlName="email" required>
               <mat-error *ngIf="addUserForm.get('email').hasError('required') && addUserForm.get('email').touched">
                You must enter a valid <strong>email</strong>.
              </mat-error>
            </mat-form-field>
            <mat-action-row>
               <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
               <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Password
               </mat-panel-title>
               <mat-panel-description>
                  Enter your password
                  <mat-icon>lock</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-form-field class="example-full-width">
               <input matInput type="password" #password placeholder="Password" 
               formControlName="password" [type]="hide ? 'password' : 'text'" hintLabel="Password must be between 6 and 15 characters.">
               <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               <mat-hint align="end">{{password.value?.length || 0}}/15</mat-hint>
               <mat-error *ngIf="((addUserForm.get('password').hasError('required'))) || (addUserForm.get('password').hasError('whitespace')) && (addUserForm.get('password').touched)">
                You must enter a valid <strong>password</strong>.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
               <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
               <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
               <mat-error *ngIf="addUserForm.get('confirmPassword').hasError('NotEqual') && addUserForm.get('confirmPassword').touched">
                Password's <strong>don't match</strong>.
              </mat-error>
              <mat-error *ngIf="addUserForm.get('confirmPassword').hasError('required') && addUserForm.get('confirmPassword').touched">
                You must <strong>confirm your password</strong>.
              </mat-error>
            </mat-form-field>
            <mat-action-row>
               <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
               <button mat-raised-button color="primary" [disabled]="addUserForm.invalid" (click)="signUp()">Submit</button>
            </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>        
</div>