<div class="container-fluid sign-in-background" [style.height.px]="screenHeight">
    <div>
      <h1 [ngClass]="{'smaller-screen-header': screenWidth <= 590, 'larger-screen-header': screenWidth > 590}">Become A Member</h1>
    </div>
    <div class="sign-up-accordion">
        <form [formGroup]="addUserForm">
            <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  First &#38; Last Name
               </mat-panel-title>
               <mat-panel-description>
                  Enter your first &#38; last name
                  <mat-icon>account_circle</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="First name" formControlName="firstName" aria-describedby="firstNameHelpBlock">
            </mat-form-field>
            <span id="firstNameHelpBlock" class="form-text text-muted" 
            *ngIf="(addUserForm.get('firstName').hasError('required') || addUserForm.get('firstName').hasError('whitespace')) && (addUserForm.get('firstName').touched)">
            You must enter a valid first name.</span>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Last Name" formControlName="lastName" aria-describedby="firstNameHelpBlock">
            </mat-form-field>
            <span id="lastNameHelpBlock" class="form-text text-muted" 
            *ngIf="(addUserForm.get('lastName').hasError('required') || addUserForm.get('lastName').hasError('whitespace')) && (addUserForm.get('lastName').touched)">
            You must enter a valid last name.</span>
            <mat-action-row>
               <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Username &#38; Email
               </mat-panel-title>
               <mat-panel-description>
                  Enter your username &#38; email
                  <mat-icon>email</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Username" formControlName="username" aria-describedby="usernameHelpBlock">
            </mat-form-field>
            <span id="usernameHelpBlock" class="form-text text-muted" 
            *ngIf="(addUserForm.get('username').hasError('required') || addUserForm.get('username').hasError('whitespace')) && (addUserForm.get('username').touched)">
            You must enter a valid username.</span>
            
            <mat-form-field class="example-full-width">
               <input matInput placeholder="Email" formControlName="email" aria-describedby="emailHelpBlock">
            </mat-form-field>
            <span id="emailHelpBlock" class="form-text text-muted" 
            *ngIf="addUserForm.get('email').hasError('required') && addUserForm.get('email').touched">You must enter a valid email.</span>
            <mat-action-row>
               <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
               <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Password
               </mat-panel-title>
               <mat-panel-description>
                  Enter your password
                  <mat-icon>lock</mat-icon>
               </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-form-field class="example-full-width">
               <input matInput type="password" placeholder="Password" formControlName="password" aria-describedby="passwordHelpBlock" [type]="hide ? 'password' : 'text'">
               <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <span id="passwordHelpBlock" class="form-text text-muted" [hidden]="(!addUserForm.get('password').untouched) && (addUserForm.get('password').hasError('required'))">Password must be between 6 and 15 characters.</span>
            <span id="passwordHelpBlock" class="form-text text-muted" *ngIf="((addUserForm.get('password').hasError('required')) || (addUserForm.get('password').hasError('whitespace'))) && (addUserForm.get('password').touched)">You must enter a valid password.</span>
            
            <mat-form-field class="example-full-width">
               <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" aria-describedby="confirmPasswordHelpBlock" [type]="hide ? 'password' : 'text'">
               <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <span id="confirmPasswordHelpBlock" class="form-text text-muted" *ngIf="addUserForm.get('confirmPassword').hasError('NotEqual') && addUserForm.get('confirmPassword').touched">Password's don't match.</span>
            <span id="confirmPasswordHelpBlock" class="form-text text-muted" *ngIf="addUserForm.get('confirmPassword').hasError('required') && addUserForm.get('confirmPassword').touched">You must confirm your password.</span>
            
            <mat-action-row>
               <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
               <button mat-raised-button color="primary" [disabled]="addUserForm.invalid" (click)="signUp()">Submit</button>
            </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>        
</div>