img {
    margin-left: -14px;
}

a {
    color: black !important;
}

a:hover {
    text-decoration: none;
}

.example-button-row button,
.example-button-row a {
  margin-right: 10px;
}

.tab-actions {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.recipe-card {
    margin-top: 50px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.recipe-card:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.recipe-content {
  margin-left: 10px;
}

.mat-divider {
  border-top-color: transparent;
}

