<section class="recipe-background" *ngIf="recipe">
<app-header></app-header>
    <div>
        <h1 class="title">{{recipe.name}} Details</h1>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" class="ingredients-and-steps">
        <div fxFlex="50">
            <div>
                <div>
                    <h1 class="content-title">{{recipe.name}} Ingredients</h1>
                </div>
                <mat-selection-list #ingredients role="list" class="list-background">
                    <mat-list-option *ngFor="let ingredient of recipe.ingredients" [value]="[ingredient.name, ingredient.quantity]">
                      {{ingredient.name}} | {{ingredient.quantity}}
                    </mat-list-option>
                </mat-selection-list>
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="addToShoppingList(ingredients.selectedOptions)">Add To Shopping List</button>
                </div>
            </div>
        </div>
        <div fxFlex="50">
            <div>
                <div>
                    <h1 class="content-title">{{recipe.name}} Steps</h1>
                </div>
                <mat-list role="list" class="list-background">
                    <mat-list-item *ngFor="let step of recipe.directions">
                        {{step}}
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</section>