.mat-divider {
  border-top-width: 4px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 10px;
}

.tab-actions {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.recipe-background {
  background-image: url("https://images.unsplash.com/photo-1538725277816-3f0794fed9e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6f19daf8dd682dc3af3fcfda99c6ab1&auto=format&fit=crop&w=1350&q=80"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: top center;
  overflow: auto;
  padding: 0;
  height: 100vh;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 58px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title {
    font-size: 60px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 8vw;
    margin-top: 30px;
    color: #fff;
    text-align: center;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title {
    font-size: 8vw;
    margin-top: 30px;
    color: #fff;
    text-align: center;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 8vw;
    margin-top: 30px;
    color: #fff;
    text-align: center;
  }
}