.bg-custom { background-color: #ffeb3b; }

.elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.nav-link, .navbar-brand { color: #424242 !important; }

.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}

.example-fill-remaining-space { flex: 1 1 auto; }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}